<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>githubTemplate.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.LaunchBar.action.GitHub</string>
	<key>CFBundleName</key>
	<string>GitHub</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>LBAbbreviation</key>
	<string>GH</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Brooks Swinnerton</string>
		<key>LBEmail</key>
		<string>bswinnerton@gmail.com</string>
		<key>LBSummary</key>
		<string>A LaunchBar action to find resources on GitHub.</string>
		<key>LBTwitter</key>
		<string>bswinnerton</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/bswinnerton/GitHub.lbaction</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>bundle.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Enter a username, repo, issue, PR, or commit</string>
</dict>
</plist>
